apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: prometheus
  namespace: ${NAMESPACE}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: prometheus
  minReplicas: ${HPA_PROM_MIN}
  maxReplicas: ${HPA_PROM_MAX}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: ${HPA_PROM_CPU}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: ${HPA_PROM_MEM}
