apiVersion: v1
kind: Service
metadata:
  name: prometheus-headless
  namespace: ${NAMESPACE}
  labels:
    app: prometheus
spec:
  clusterIP: None
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
